<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b03f2d9f-176a-4fd8-afbd-0ab0409f40c3/resourcegroups/FindMyRestaurant/providers/Microsoft.Web/sites/FindMyRestaurantMantenimientos</ResourceId>
    <ResourceGroup>FindMyRestaurant</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://findmyrestaurantmantenimientos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>findmyrestaurantmantenimientos.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FindMyRestaurantMantenimientos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FindMyRestaurantMantenimientos</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=juantapia.database.windows.net;Initial Catalog=FindMyRestaurant;Persist Security Info=True;User ID=jtapia;Password=#findmyrestaurant1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FindMyRestaurant.Models.ApplicationDbContext, FindMyRestaurant" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FindMyRestaurantConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=juantapia.database.windows.net;Initial Catalog=FindMyRestaurant;User ID=jtapia;Password=#findmyrestaurant1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:juantapia.database.windows.net,1433;Initial Catalog=FindMyRestaurant;Persist Security Info=False;User ID=jtapia;Password=#findmyrestaurant1;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FindMyRestaurantConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:juantapia.database.windows.net,1433;Initial Catalog=FindMyRestaurant;Persist Security Info=False;User ID=jtapia;Password=#findmyrestaurant1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FindMyRestaurantConnectionString-Web.config Connection String">
      <ParameterValue>data source=juantapia.database.windows.net;initial catalog=FindMyRestaurant;user id=jtapia;password=#findmyrestaurant1;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=juantapia.database.windows.net;Initial Catalog=FindMyRestaurant;Persist Security Info=True;User ID=jtapia;Password=#findmyrestaurant1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FindMyRestaurantConnectionString-Web.config Connection String">
      <ParameterValue>data source=juantapia.database.windows.net;initial catalog=FindMyRestaurant;user id=jtapia;password=#findmyrestaurant1;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=juantapia.database.windows.net;Initial Catalog=FindMyRestaurant;Persist Security Info=True;User ID=jtapia;Password=#findmyrestaurant1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FindMyRestaurantConnectionString-Web.config Connection String">
      <ParameterValue>data source=juantapia.database.windows.net;initial catalog=FindMyRestaurant;user id=jtapia;password=#findmyrestaurant1;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=juantapia.database.windows.net;Initial Catalog=FindMyRestaurant;Persist Security Info=True;User ID=jtapia;Password=#findmyrestaurant1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FindMyRestaurantConnectionString-Web.config Connection String">
      <ParameterValue>data source=juantapia.database.windows.net;initial catalog=FindMyRestaurant;user id=jtapia;password=#findmyrestaurant1;MultipleActiveResultSets=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=juantapia.database.windows.net;Initial Catalog=FindMyRestaurant;Persist Security Info=True;User ID=jtapia;Password=#findmyrestaurant1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>